<configuration>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL:-http://localhost:3100/loki/api/v1/push}</url>
        </http>
        <format>
            <label>
                <pattern>app=uber,service=${spring.application.name},level=%level,env=k8s</pattern>
            </label>
            <message>
                <pattern>
                    {
                    "timestamp": "%d{ISO8601}",
                    "level": "%level",
                    "service": "${spring.application.name}",
                    "thread": "%thread",
                    "logger": "%logger{36}",
                    "correlationId": "%X{correlationId:-}",
                    "userId": "%X{userId:-}",
                    "driverId": "%X{driverId:-}",
                    "rideId": "%X{rideId:-}",
                    "paymentId": "%X{paymentId:-}",
                    "routingKey": "%X{routingKey:-}",
                    "message": "%msg"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {
                "timestamp": "%d{ISO8601}",
                "level": "%level",
                "service": "${spring.application.name:-ride-service}",
                "thread": "%thread",
                "logger": "%logger{36}",
                "correlationId": "%X{correlationId:-}",
                "userId": "%X{userId:-}",
                "driverId": "%X{driverId:-}",
                "rideId": "%X{rideId:-}",
                "paymentId": "%X{paymentId:-}",
                "routingKey": "%X{routingKey:-}",
                "message": "%msg"
                }%n
            </pattern>
        </encoder>
    </appender>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
        <!-- <appender-ref ref="LOKI" /> -->
        <!-- Switch between CONSOLE (plain text) and CONSOLE_JSON (for testing Loki format) -->
        <appender-ref ref="CONSOLE_JSON"/>
    </root>
</configuration>